<div class="card-body">
    <h5 class="card-title text-center">{{errorMessage}}</h5>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let cita of citas" class="card md-3 mb-2" style="width: 33%;">
            <div class="card-body">
                <h4 class="card-title text-center"><span> {{ cita.Name }}, sua cita está pronta.</span></h4>
                <p class="card-text"><span>Nome: </span> {{ cita.Name }} </p>
                <p class="card-text"><span>Data: </span> {{ cita.date }} </p>
                <p class="card-text"><span>Hora: </span> {{ cita.time }} </p>
                <p class="card-text"><span>Sintomas: </span> {{ cita.description }} </p>

                       
                <button class="btn btn-danger btn-block mb-2" (click)="onDelete(cita)">Eliminar</button>
                            
                <button style="width: 100%;" type="button" class="btn btn-primary btn-block" routerLink="/edit-cita/{{cita.id}}" >Editar</button>
            </div>
        </div>
    </div>
</div>

<ng-template  #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja cancelar sua cita?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()" >Não</button>
    </div>
</ng-template>



    <!--  -->
    